.about-heading{

    color: #8b8587;
    text-align: center;
    /* border-radius: 2rem;
    background-color: #8b8587; */
    width: 11%;
    height: 6rem;
    margin-top: 2rem;
    margin-left: 51rem;
    padding-top: 1.2rem;
    font-size: larger;
    
    
   
}

.abt-img-cont{
    position: relative;
}

.About-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    width: 35rem;
    text-align: center;
    font-weight: 10rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    
    text-rendering: optimizeLegibility;
    color:white;
    
     text-shadow:
      
      -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      
    
  }

  .about-head{
    padding-bottom: 1rem;
  }
  
  
  

  .About-image{ 
   
    width: 50%;
    height: 50%;
    opacity: 0.5;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 31rem;
    border-radius: 4rem;
  }