

  .about-head2{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

  }

  .paral1{
  width: 550px;
	height: 300px;
	transform: skew(20deg);
	background:lightgray;
  display: inline-block;
  margin-left: 2rem;
  border-radius: 2rem;
  
  
  }

  .Parall{
    padding-left: 2rem;
    padding-bottom: 2rem;
    display: flex;
    margin-left: 2rem;
    
    
  }

  .abouticon{
    width: 100px;
    height: 300px;
    margin-left: 14rem;
    

  }

  .overlay-about {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    background-color: #97898d;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .4s ease;
    
    
    border-radius: 2rem;
  }
  
  .paral1:hover .overlay-about {
    bottom: 0;
    height: 100%;
  }
  
  .home-text1 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
