/* .main-footer{
  color: white;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(223, 219, 219) 0%, rgb(200, 226, 238) 90%);
  padding-top: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
  color: black;
  border-top: 1px solid black;
} */

.footercontainer{
  color: white;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(223, 219, 219) 0%, rgb(200, 226, 238) 90%);
  width: 100%;
  color: black;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  

}

.Socials{
    font-size: large;
    width: 15rem;
}

.socialsH3{
    font-size: 2rem
    
}

#ic{
    color: black;
    padding: 9px;
    font-size: 3rem;
    
}

#ic:hover{
    background-color: transparent;
    color: #8a1253;
   
}


.row2{
    display: flex; 
    align-items: center;  
}

.col-sm{
    font-size: large;
    width: 15rem;
}


.col1{
   gap: 1rem;
   align-items: center;   
}

.colh3{
    font-size: 2rem;
}
.cont{
    font-size: large;
}





