 .top-container{
  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
   
          
    
    
  }

  .heading-home{
    padding-left: 2rem;
    padding-top: 2rem;
    font-size: 4rem;
  }

  .p-home{
    padding-left: 2rem;
    font-size: 2rem;
    
  
  }
  
  .middle-container{
    height: 80px;
    display: flex;
    justify-content: center;
 
  }

  .h2-home{
    font-size: 3rem;
  }

  .st-home{
    color: brown;
  }

 

