.home-container{
    position: relative;
    width: 50%;
}

.home-image {
    display: block;
    margin-left: 45rem;
    margin-right: auto;
    width: 50%;
    padding-top: 2rem;
    border-radius: 5rem;
  }

  .overlay{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  top: 2rem;  
  background-color: #97898d;
  overflow: hidden;
  width: 50%;
  height: 0;
  transition: .5s ease;
  margin-left: 45rem;
  margin-right: auto;
  border-radius: 2rem;
  
  
  }

  .home-container:hover .overlay {
    bottom: 0;
    height: 100%;
    
}

  .home-text{
    
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }



