.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  background: white;
  padding-bottom: 30px;
  width: 600px;
  border-radius: 15px;
  height: 500px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: Black;
  font-size: 48px;
  font-weight: 700;
}

.underline {
  width: 61px;
  height: 6px;
  background: black;
  border-radius: 9px;
}

.Inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.Input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: rgb(240, 237, 237);
  border-radius: 8px;
}

.Input img {
  margin: 0px 30px;
}

.Input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 19px;
}

.forgot-password {
  padding-left: 62px;
  margin-top: 27px;
  color: black;
  font-size: 20px;
}

.forgot-password span {
  color: black;
  cursor: pointer;
}

.SubmitContainer {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: white;
  background: grey;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.gray {
  background: #eaeaea;
  color: #676767;
}


