.NavbarItems{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    margin-bottom: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
   
    
}

.logo2{
    height: 70px;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25); 
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 11px;
    list-style: none;
    align-items: center;
    padding-top: 10px;
    
}

.nav-links{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    background-color: lightgray;
    border-radius: 1rem;
    padding: 0.5rem;
    
    

}

#icon{
    padding-right: 5px;
}



.nav-links{
    padding-right: 10px;
}

.nav-links:hover{
    background-color: transparent ;
    color: #8a1253;

    transition: all 0.2s ease-in-out;

}

.nav-links-mobile{
    display: none;
}

.navbarbutton{
    padding: 0.5rem 1rem;
    white-space:nowrap;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: lightgray;

}

.navbarbutton:hover{
    background-color: #8a1253;
    color: black;
}

@media screen and (max-width: 850px){

    .NavbarItems{
        z-index: 99;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #babbf6;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        align-items: stretch;
        padding: 80px 0 30px 0;
        text-align: center;
        z-index: -1;
    }

    .nav-links{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
    }

    .nav-links:hover{
        background: #babbf6;
        transition: none;
    }

    
    .nav-links-mobile{
        display: block;
        text-align:center;
        padding: 1.5rem;
        margin:auto;
        border-radius: 4px;
        width: 80%;
        background: #01959a;
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;


        
    
    }

    .navbarbutton{
        display: none;
    }
}



 




